<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfectly-Cooked - Romain Pouclet</title>

    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!--[if lt IE 9]>
      <script src="{{ "js/html5shiv.js" | prepend: site.baseurl }}"></script>
      <script src="{{ "js/respond.min.js"  | prepend: site.baseurl }}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="photo-header" class="text-center">
            <!-- PHOTO (AVATAR) -->
            <div id="photo">
              <img src="{{ "img/avatar.jpg" | prepend: site.baseurl }}" alt="avatar">
            </div>
            <div id="text-header">
              <h1>Hai,<br> my name is <span>Romain</span> and this is my resume/cv</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <!-- ABOUT ME -->
          <div class="box">
            <h2>About Me</h2>
            <p>{{ site.data.about.me }}</p>
          </div>
          <!-- EDUCATION -->
          <div class="box">
            <h2>Education</h2>
            <ul id="education" class="clearfix">
              {% for education in site.data.educations %}
              <li>
                <div class="year pull-left">{{ education.year }}</div>
                <div class="description pull-right">
                  <h3>{{ education.title }}</h3>
                  <p>{{ education.description }}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>

          <!-- EXPERIENCES -->
          <div class="box">
            <h2>Experiences</h2>
            {% for experience in site.data.experiences %}
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">{{ experience.where }}</div>
                <div class="year">{{ experience.year }}</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">{{ experience.profession }}</div>
                <div class="description">{{ experience.description }}</div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
          <!-- CONTACT -->
          <div class="box clearfix">
            <h2>Contact</h2>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
              <div class="title only pull-right">{{ site.data.about.phone_number }}</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
              <div class="title only pull-right"><a href="mailto:{{ site.data.about.email }}">{{ site.data.about.email }}</a></div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
              <div class="title pull-right">Twitter</div>
              <div class="description pull-right"><a href="http://twitter.com/{{ site.data.about.twitter }}">{{ site.data.about.twitter }}</a></div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-skype fa-fw"></span></div>
              <div class="title pull-right">Skype</div>
              <div class="description pull-right">{{ site.data.about.skype }}</div>
            </div>
          </div>
          <!-- SKILLS -->
          <div class="box">
            <h2>Skills</h2>
            <div class="skills">
              {% for skill in site.data.skills %}
              <div class="item-skills" data-percent="{{ skill.percent }}">{{ skill.name }}</div>
              {% endfor %}


              <div class="skills-legend clearfix">
                <div class="legend-left legend">Beginner</div>
                <div class="legend-left legend"><span>Proficient</span></div>
                <div class="legend-right legend"><span>Expert</span></div>
                <div class="legend-right legend">Master</div>
              </div>
            </div>
          </div>
          <!-- LANGUAGES -->
          <div class="box">
            <h2>Languages</h2>
            <div id="language-skills">
              {% for language in site.data.languages %}
              <div class="skill">{{ language.name }} <div class="icons pull-right"><div style="width: {{ language.level }}%;" class="icons-red"></div></div></div>
              {% endfor %}
            </div>
          </div>
          <!-- HOBBIES -->
          <div class="box">
            <h2>Hobbies</h2>
            {% for hobby in site.data.hobbies %}
            <div class="hobby">{{ hobby }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- JQUERY -->
    <script src="js/jquery.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="js/bootstrap.min.js"></script>
    <!-- SCRIPTS -->
    <script src="js/scripts.js"></script>
  </body>
</html>